:root {
    // brand colors
    --c-brand: #8c7bce;
}

html.dark {
    // brand colors
    --c-brand: #8c7bce;

    // text colors
    --c-text: #8c7bce;
    --c-text-light: #8c7bce;
    --c-text-lighter: #8c7bce;
    --c-text-lightest: #8c7bce;
}
